@import url("https://fonts.googleapis.com/css?family=Quicksand");
@import url("https://fonts.googleapis.com/css?family=Varela+Round");
* {
  outline: none; }

h1, h2, h3, h4, h5, p {
  padding: 0;
  margin: 0 0 15px 0;
  line-height: 120%; }

body {
  font-family: "Quicksand", sans-serif; }

p, ol, ul {
  color: #333333;
  font-weight: 300;
  font-size: 1.8rem; }

strong {
  font-weight: 400; }

h1 {
  font-family: "Varela Round", sans-serif;
  font-size: 3.6rem;
  color: #ef2463; }
  @media (min-width: 768px) {
    h1 {
      font-size: 4rem; } }

h2 {
  font-family: "Varela Round", sans-serif;
  font-size: 2.8rem; }
  @media (min-width: 768px) {
    h2 {
      font-size: 3.2rem; } }

h3 {
  font-family: "Varela Round", sans-serif; }

h4 {
  font-family: "Varela Round", sans-serif;
  font-weight: 400; }

.btn {
  background: #8e2c3d;
  color: #ffffff;
  transition: all 0.25s;
  border-radius: 6px;
  font-size: 1.6rem;
  font-weight: 100; }
  .btn:hover {
    background: #ef2463;
    color: #ffffff; }
  .btn:focus, .btn:active {
    background: #8e2c3d;
    color: #ffffff;
    outline: none; }

.display-none {
  display: none; }

.devices-wide {
  display: none; }

@media (min-width: 768px) {
  .devices-wide {
    display: block; }
  .devices-narrow {
    display: none; } }

body {
  background: #ffffff;
  color: #333333;
  font-size: 16px; }

.social-media {
  list-style: none;
  margin: 0;
  padding: 5px 0 0 0;
  width: 100%;
  text-align: right; }
  .social-media li {
    display: inline;
    margin: 0;
    padding: 0 5px; }
    .social-media li:nth-last-child(1) {
      padding-right: 0; }
      .social-media li:nth-last-child(1) a {
        padding-right: 0; }
  .social-media a {
    display: inline-block;
    padding: 3px;
    color: #ef2463; }

.main-navigation {
  text-align: right;
  position: relative;
  height: 100px; }
  .main-navigation > a {
    position: absolute;
    top: -15px;
    left: 0;
    display: block;
    z-index: 10; }
    .main-navigation > a img {
      display: block;
      width: 102px; }
  .main-navigation .devices-wide,
  .main-navigation .devices-narrow {
    position: absolute;
    bottom: 0;
    right: 0; }
  .main-navigation ul {
    list-style: none;
    margin: 0;
    width: 100%;
    text-align: right; }
    .main-navigation ul li {
      display: inline;
      margin: 0;
      padding: 0 5px; }
      .main-navigation ul li:nth-last-child(1) {
        padding-right: 0; }
        .main-navigation ul li:nth-last-child(1) a {
          padding-right: 0; }
    .main-navigation ul a {
      display: inline-block;
      padding: 15px 7px;
      color: #8e2c3d;
      font-weight: bold;
      font-size: 1.8rem; }
      .main-navigation ul a:hover, .main-navigation ul a.active {
        text-decoration: none;
        color: #ef2463; }
  .main-navigation .mobile-navigation-trigger {
    font-size: 3rem; }

.hero-carousel {
  height: 360px;
  background: #8e2c3d;
  position: relative; }
  .hero-carousel .slide {
    height: 360px;
    background-size: cover;
    background-position: center center;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    transition: opacity 2s; }
    .hero-carousel .slide.active {
      opacity: 1; }
  .hero-carousel .dots {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0; }
    .hero-carousel .dots ul {
      margin: 0 10px 15px 0;
      padding: 0;
      list-style: none;
      text-align: right; }
    .hero-carousel .dots li {
      display: inline;
      padding-left: 10px; }
    .hero-carousel .dots span {
      display: inline-block;
      background: white;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      transition: background 2s; }
      .hero-carousel .dots span.active {
        background: #ef2463; }

.owl-prev,
.owl-next {
  transition: all 0.33s;
  position: absolute;
  width: 39px;
  height: 39px;
  display: block;
  border-radius: 50%;
  top: 50%;
  margin-top: -20px;
  left: -5px;
  opacity: 0.8;
  background: url("../images/bg-arrow-left.png") center center no-repeat #8e2c3d !important; }
  .owl-prev:hover,
  .owl-next:hover {
    opacity: 1;
    background: url("../images/bg-arrow-left.png") center center no-repeat #ef2463 !important; }
  .owl-prev > span,
  .owl-next > span {
    display: none; }

.v-scroll {
  height: 390px;
  width: 100%; }
  .v-scroll .title {
    padding: 15px 25px;
    text-align: left;
    background: #f9f4f5; }
  .v-scroll h4 {
    color: #8e2c3d;
    margin: 0;
    padding: 0; }
  .v-scroll .v-container {
    height: 340px;
    overflow-y: scroll;
    position: relative;
    width: 100%;
    -webkit-overflow-scrolling: touch; }
  .v-scroll .v-content {
    width: 100%; }
  .v-scroll .article {
    width: 100%;
    display: block;
    text-decoration: none; }
    .v-scroll .article img {
      width: 100%; }
    .v-scroll .article .title {
      padding-bottom: 20px; }
      .v-scroll .article .title h4 {
        color: #333333 !important;
        border-bottom: 1px solid #cccccc;
        padding-bottom: 15px;
        font-size: 1.5rem; }
    .v-scroll .article:hover {
      text-decoration: none; }
      .v-scroll .article:hover .title h4 {
        border-color: #333333; }

.iframe {
  width: 100%;
  height: 390px;
  border: 0; }

.owl-next {
  right: -5px;
  left: auto;
  background: url("../images/bg-arrow-right.png") center center no-repeat #8e2c3d !important; }
  .owl-next:hover {
    background: url("../images/bg-arrow-right.png") center center no-repeat #ef2463 !important; }

.secondary-carousel {
  padding: 15px 0; }
  .secondary-carousel .slide {
    padding: 10px 80px;
    text-align: center;
    position: relative;
    min-height: 145px; }
    @media (max-width: 768px) {
      .secondary-carousel .slide {
        padding: 10px 50px; } }

.tertiary-carousel .slide {
  width: 100%;
  height: 390px;
  position: relative; }

.tertiary-carousel .owl-dots {
  display: none; }

.tertiary-carousel.grower-carousel a {
  background-size: cover;
  background-position: center center;
  display: block;
  width: 100%;
  height: 390px; }

.tertiary-carousel.grower-carousel .title {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 80px;
  background: #ffffff;
  background: rgba(255, 255, 255, 0.9);
  padding: 10px 12px;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis; }

.tertiary-carousel.grower-carousel h3 {
  margin-bottom: 5px;
  color: #333333; }

.tertiary-carousel.berries-carousel a {
  background-size: cover;
  background-position: center center;
  display: block;
  width: 100%;
  height: 390px;
  display: table; }
  .tertiary-carousel.berries-carousel a:hover {
    text-decoration: none; }

.tertiary-carousel.berries-carousel .title {
  padding: 0 45px;
  display: table-cell;
  text-align: center;
  vertical-align: middle; }

.tertiary-carousel.berries-carousel h2 {
  margin-bottom: 15px;
  color: #ffffff; }

.tertiary-carousel.berries-carousel p {
  color: #ffffff; }

.recipes-four {
  position: relative;
  width: 100%;
  height: 390px; }
  .recipes-four > a {
    position: absolute;
    display: block;
    width: 50%;
    height: 50%;
    background-position: center center;
    background-size: cover;
    text-decoration: none; }
    .recipes-four > a:first-child {
      top: 0;
      left: 0; }
    .recipes-four > a:nth-last-child(1) {
      bottom: 0;
      right: 0; }
    .recipes-four > a:nth-last-child(2) {
      top: 0;
      right: 0; }
    .recipes-four > a:nth-last-child(3) {
      bottom: 0;
      left: 0; }
    .recipes-four > a:hover {
      text-decoration: none; }

.introduction {
  padding: 20px 80px;
  text-align: center;
  position: relative; }
  @media (max-width: 768px) {
    .introduction {
      padding: 15px 0; } }

.hero {
  width: 100%;
  display: block; }

.pod {
  height: 390px;
  color: #FFFFFF;
  text-align: center;
  margin-bottom: 15px; }
  @media (min-width: 768px) {
    .pod {
      margin-bottom: 30px; } }

.footer {
  height: 225px;
  position: relative;
  border-bottom: 10px solid #cccccc;
  background: #8e2c3d; }
  .footer ul {
    list-style: none;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px 0 10px 0; }
    .footer ul li {
      display: inline; }
      .footer ul li a {
        display: inline-block;
        color: #ffffff;
        font-size: 1.7rem;
        font-weight: 100;
        padding: 10px 12px; }
        .footer ul li a:hover {
          text-decoration: none; }
  .footer .tel-link {
    color: #ffffff; }
    .footer .tel-link:hover {
      text-decoration: none; }
  .footer .copyright {
    text-align: center;
    padding: 30px 0 0 0;
    margin-bottom: 0;
    color: #ffffff;
    font-size: 1.7rem; }
  .footer p {
    color: #f9f4f5;
    font-size: 1.5rem;
    line-height: 140%; }
  @media (min-width: 768px) {
    .footer {
      border-bottom: 20px solid #dddddd;
      background: url("../images/bg-footer.png") top right no-repeat #8e2c3d; }
      .footer .copyright {
        padding: 12px 45px 0 0;
        float: left; }
      .footer ul {
        padding: 0;
        justify-content: flex-start; }
        .footer ul li {
          display: inline;
          padding: 0 10px 15px 0; }
          .footer ul li:first-child a {
            padding-left: 0; }
      .footer .address {
        text-align: left; } }

.skirt {
  position: absolute;
  width: 255px;
  height: 150px;
  background: url("../images/bg-footer-fruit.png") 0 0 no-repeat;
  background-size: cover;
  bottom: -15px;
  left: 50%;
  margin-left: -126px;
  margin-bottom: 5px solid #ffffff;
  display: none; }
  @media (min-width: 768px) {
    .skirt {
      display: block; } }

.hero {
  background-size: cover;
  height: 360px;
  background-position: center center; }

.filter-controls-mobile {
  margin-bottom: 15px;
  margin-top: -10px; }
  .filter-controls-mobile button {
    border: 1px solid #cccccc;
    background: #ffffff;
    color: #8c8c8c;
    width: 100%;
    padding: 6px 10px;
    border-radius: 3px;
    text-transform: uppercase; }
    .filter-controls-mobile button:hover, .filter-controls-mobile button:focus {
      border: 1px solid #cccccc;
      background: #ffffff;
      color: #333333; }
  @media (min-width: 768px) {
    .filter-controls-mobile {
      display: none; } }

.filter-controls {
  text-align: center;
  padding: 0 0 15px;
  display: none; }
  .filter-controls > span {
    display: inline-block;
    padding: 6px 12px;
    border-radius: 10px;
    margin: 0 3px 12px 4px;
    color: #ffffff;
    background: #1059a8;
    cursor: pointer; }
    .filter-controls > span.active {
      background: #ef2463; }
    .filter-controls > span.clear {
      background: #8e2c3d; }
  .filter-controls.on-for-mobile {
    display: block; }
  @media (min-width: 768px) {
    .filter-controls {
      display: block;
      padding: 0 60px 20px; } }

@media (min-width: 768px) {
  .filtered {
    min-height: 800px; } }

.filtered .filtered-out {
  display: none; }

.filtered #empty-list {
  display: none; }
  .filtered #empty-list h2 {
    text-align: center;
    padding: 40px 30px 80px;
    color: #cccccc; }
  .filtered #empty-list.is-empty {
    display: block; }

.filtered .recipe {
  background-position: center center;
  background-size: cover;
  position: relative;
  display: block;
  min-height: 390px;
  padding: 10px;
  margin-bottom: 15px; }
  @media (min-width: 768px) {
    .filtered .recipe {
      margin-bottom: 30px; } }

.filtered .title {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 80px;
  background: #ffffff;
  background: rgba(255, 255, 255, 0.9);
  padding: 10px 12px;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis; }

.filtered h3 {
  font-size: 2.5rem;
  color: #333333; }

.link-to-recipes {
  padding: 20px 0; }

.grower-image,
.recipe-image {
  margin-bottom: 15px; }
  .grower-image img,
  .recipe-image img {
    display: block;
    width: 100%; }
  @media (min-width: 768px) {
    .grower-image,
    .recipe-image {
      margin-bottom: 45px; } }

.grower-detail,
.recipe-detail {
  margin-bottom: 30px; }
  @media (min-width: 768px) {
    .grower-detail,
    .recipe-detail {
      margin-bottom: 45px; } }

.grower {
  float: left;
  padding-top: 45px;
  border-top: 1px solid #f2f2f2; }

.spacer {
  height: 510px; }

#menu {
  background: #ffffff;
  text-transform: uppercase; }
  #menu a {
    color: #282828;
    font-size: 1.5rem;
    padding: 15px 40px; }
